.faq {
  padding: 140px 0 130px;
  background-color: rgba($color-light, .2);
}

.faq-inner {
  @include inner;
}

.faq-title {
  @include section-title;
}

.faq-content {
  margin-top: 100px;
}

.faq-accordion {
  margin-top: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba($color-accent, .2);

  &:first-child {
    margin-top: 0;
  }
}

.faq-btn {
  width: 100%;
  padding: 30px;
  text-align: left;
  font-family: $font-title;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.faq-text {
  display: none;
  padding: 0 30px 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
}
