.filter {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  list-style: none;
}

.filter-item {
  margin-left: 60px;

  &:first-child {
    margin-left: 0;
  }
}

.filter-link {
  font-size: 36px;
  line-height: 49px;
  color: inherit;
  text-decoration: none;
}
