.gallery {
  padding: 100px 0;
  background-color: $color-light;
}

.gallery-inner {
  @include inner;
}

.gallery-title {
  @include section-title;
}

.gallery-wrap {
  display: flex;

  div {
    flex-basis: 50%;
  }
}

.slider {
  padding: 0 80px;

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $color-accent;
    border: none;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      margin: 0 10px;
    }

    .slick-active {
      button {
        background-color: $color-accent;
      }
    }

    button {
      width: 14px;
      height: 14px;
      font-size: 0;
      border: 2px solid $color-accent;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 50%;
    }
  }
}
