.promo {
  padding: 136px 0;
  background-color: rgba($color-light, .2);

  @media (max-width: $tablet-max) {
    padding: 90px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 60px 0;
    text-align: center;
  }
}

.promo-inner {
  @include inner;
}

.promo-wrap {
  display: flex;
  margin: 0 (-$gap-half);

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.promo-text {
  flex-basis: 50%;
  padding: 0 $gap-half;
}

.promo-title {
  margin-bottom: 70px;
  color: $color-accent;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  @media (max-width: $tablet-max) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 33px;
  }

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 25px;
  }

  span {
    display: block;
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 300;
    font-size: 116px;
    line-height: 136px;

    @media (max-width: $tablet-max) {
      font-size: 64px;
      line-height: 75px;
    }

    @media (max-width: $mobile-max) {
      margin-bottom: 10px;
      font-size: 54px;
      line-height: 63px;
    }
  }
}

.promo-visual {
  flex-basis: 50%;
  padding: 0 $gap-half;
}

.promo-visual-wrap {
  position: relative;
}

.promo-photo-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: rgba($color-dark, .7);
}
