.services {
  padding: 100px 0;
  background-color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 70px 0 88px;
  }

  @media (max-width: $mobile-max) {
    padding: 50px 0;
  }
}

.services-inner {
  @include inner;
}

.services-title {
  @include section-title;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -$gap-half;
  margin-right: -$gap-half;

  @media (max-width: $tablet-max) {
    margin-top: 0;
  }

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.services-item {
  flex-basis: 50%;
  margin-top: 50px;
  padding: 0 $gap-half;

  @media (max-width: $tablet-max) {
    margin-top: 60px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 40px;
  }
}
