@mixin inner {
  max-width: 1278px + $gap; // компенсация добавленного ниже паддинга
  padding: 0 $gap-half; // добавили отступ на тач устройствах слева и справа от границы экрана
  margin: 0 auto;
  border: 1px solid red;
}

@mixin section-title {
  text-align: center;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  color: $color-accent;

  @media (max-width: $tablet-max) {
    font-size: 48px;
    line-height: 56px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 38px; 
  }
}
