@mixin inner {
  max-width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin section-title {
  text-align: center;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  color: $color-accent;
}
